/************************ CONFIGURAÇÕES GERAIS *********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


/*************************************** formulário de cadastro *******************/
.form-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-image: url('../imagens/fundo.jpg');
    background-position: center;
    background-size: cover;
}

.container {
    display: flex;
    width: 1000px;
    height: 600px;
    margin: 105px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* LADO ESQUERDO: PRETO */
.lado-esquerdo {
    background-color: #000000;
    color: #ffffff;
    width: 45%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lado-esquerdo img {
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;
    border-radius: 8px;
}

.lado-esquerdo h1 {
    font-size: 25px;
    margin-bottom: 25px;
}

.lado-esquerdo p {
    font-size: 14px;
    color: #d1d1d1;
}

.lado-esquerdo h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.lado-esquerdo p {
    font-size: 14px;
    margin-top: 10px;
    color: #d1d1d1;
}

/* LADO DIREITO: BRANCO */
.lado-direito {
    background-color: #ffffff;
    width: 55%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lado-direito h1 {
    margin-bottom: 10px;
    font-size: 28px;
    color: #222;
}

.lado-direito p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
}

form input {
    margin-bottom: 15px;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
}

button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    margin: 10px;
    padding: 12px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: green;
    color: whitesmoke;
    border: 1px solid rgba(67, 56, 56, 0.767);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.373);
    font-weight: bolder;
    transform: translateY(-3px);
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.login-link a {
    color: #3b00ff;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover{
    text-decoration: underline;
}