/****************************** Reset básico *****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-image: url('../imagens/fundo.jpg');
  background-position: center;
  background-size: cover;
  color: #f5f5f5;
  line-height: 1.6;
}
/********************************* BARRA DE NAVEGAÇÃO *********************/

.container-menu {
  display: flex;
  position: fixed;
  width: 100%;
  height: 140px;
  background: rgb(0, 0, 0);
  align-items: center;
  z-index: 1;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgb(142, 121, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.logo {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: 100px; 
}

.logo img {
  height: 140px;
  width: auto;
}

.menu-links {
  display: flex; 
  align-items: center; 
  margin-right: 15%; 
  margin-top: 60px;
}

.menu-barra { 
  color: black;
  font-weight: lighter;
  margin: 0 5px;
  margin-top: -10px;
  font-size: 40px;
}

.bloco {
  cursor: pointer;
  padding: 10px; 
  margin-left: 35px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  color: rgb(255, 255, 255);
  white-space: nowrap;
}

.bloco:hover {
  color: rgb(255, 227, 192);
  background: rgba(69, 1, 1, 0.05);
  transform: translateY(-3px);
  border: 1px solid rgb(142, 121, 0);
  box-shadow: 0 5px 5px rgba(142, 121, 0, 0.732);
  font-weight: bolder;
}

.bloco:active,
.menu-opcoes:active,
.menu-cadastro:active{
  transform: translateY(3px);
}

/********************** SECTION 1 ******************/

.container-section1{
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
}

.login {
  background-image: url('../imagens/login-fundo.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  width: 40%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  margin: 120px 0 0 5px;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form-login {
  padding: 40px;
}

.header-login {
  text-align: left;
  margin-bottom: 30px;
}

.header-login h1 {
  font-size: 28px;
  color: #1f2f3e;
  margin-bottom: 10px;
}

.header-login p {
  font-size: 14px;
  color: #6c757d;
}

.input-login {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-login label {
  margin-top: 5PX;
  font-size: 14px;
  color: #343a40;
  font-weight: 600;
}

.input-login input {
  padding: 10px 12px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background-color: none;
}

.input-login p{
  color: black;
  text-align: center;
}


.forgot-password {
  font-size: 13px;
  color: #5e60ce;
  text-decoration: none;
  margin-top: -5px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.input-login button {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  height: 45px;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
}

.input-login button:hover {
  background-color: green;
  color: whitesmoke;
  border: 1px solid rgba(67, 56, 56, 0.767);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.373);
  font-weight: bolder;
  transform: translateY(-3px);
}



/****************************** LADO DO FORM DE LOGIN *********************/


.div_imagens{
  display: flex;
  width: 100%;
  height: 500px;
  margin: 120px 5px 0 5px;
  border: 1px solid rgba(255, 0, 0, 0.103);
  border-radius: 8px;
  background-color: #f5f5f53c;
  backdrop-filter: blur(6px);
}

.imagem1{
  width: 50%;
  height: auto;
}

.beethoven1{
  width: 100%;
  height: 499px;
  border-radius: 6px 0 0 6px;
}

.texto-a{
  width: 98%;
  height: 499px;
  border-radius: 0 6px 6px 0;
  background-color: rgba(0, 0, 0, 0.788);
  backdrop-filter: blur(10px);
}

.texto-a h3{
  width: auto;
  height: auto;
  margin-left: 60%;
}

.texto-frase-a{
  font-size: 40px;
  padding: 50px;
}


/******************************* SECTION 2 *****************************/

.container-conteudo {
  display: flex;
  width: 99.5%;
  height: 600px;
  margin: 5px auto;
  border: 1px solid rgba(255, 0, 0, 0.103);
  border-radius: 8px;
  background-color: #f5f5f53c;
  backdrop-filter: blur(6px);
  justify-content: center;
  align-items: center;
}

.section-conteudo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.section-conteudo .imagem-lateral {
  width: 40%;
  height: 100%;
}

.section-conteudo .imagem-lateral img {
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
  object-fit: cover;
  display: block;
}

.section-conteudo .texto-biografia {
  width: 60%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #f5f5f5;
  border-radius: 0 5px 5px 0;
  overflow-y: auto; /* caso o texto seja maior que a área */
}

.section-conteudo .texto-biografia h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.section-conteudo .texto-biografia p {
  font-size: 18px;
  line-height: 1.8;
}

.section-conteudo .texto-biografia button {
  width: 25%;
  margin-top: 40px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.section-conteudo .texto-biografia button:hover {
  background-color: darkred;
  transform: scale(1.03);
}

@media (max-width: 768px) {
  .section-conteudo {
    flex-direction: column;
  }

  .section-conteudo .imagem-lateral,
  .section-conteudo .texto-biografia {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .section-conteudo .imagem-lateral img {
    border-radius: 8px 8px 0 0;
  }

  .section-conteudo .texto-biografia {
    width: 100%;
    height: auto;
    border-radius: 0 0 8px 8px;
    padding: 20px;
  }
}

/****************************************** SECTION 3 ******************************/
.container-conteudo2 {
  display: flex;
  flex-direction: column; 
  width: 99.5%;
  border-radius: 8px;
  margin: 5px auto;
  background: linear-gradient(135deg, #1a1a1a, #2d2d2d);
}

.silencio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 20px;
  width: 100%;
  height: auto;
  padding: 20px; 
}

.silencio1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 200px;
  background-color: rgba(255,255,255,0.05);
  margin: 10px auto;
  border-radius: 8px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.051);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.silencio1 h2 {
  text-align: center;
  margin: 0;
  color: #fff;
}

.silencio1 p {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  color: #fff;
}

.silencio1:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.1);
  transform: scale(1.05);
}

.silencio-container2 {
  display: flex; 
  justify-content: center;
  gap: 50px;
  width: 100%;
  height: auto;
  padding: 20px; 
}

.imagem-silencio {
  width: 30%;
  height: 300px;
  background-color: #ccc; 
  border-radius: 8px;
  overflow: hidden; 
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}

.imagem-silencio img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.imagem-silencio:hover{
  transform: scale(1.15);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}
/****************************************** SECTION 4 ******************************/
.height-auto{
  height: auto;
}

.estilo-cards {
  flex-direction: column;
  padding: 40px;
  background: linear-gradient(135deg, #1a1a1a, #2d2d2d);
  color: #fff;
  border-radius: 8px;
}

.texto-intro {
  text-align: center;
  margin-bottom: 50px;
}

.texto-intro h1{
  margin-bottom: 20px;
}


.cards-beneficios {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.card {
  background-color: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  padding: 20px;
  width: 280px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
}

.card h2 {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

.card p {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
/*********************************** DESENVOLVIMENTO SUSTENTÁVEL *************************/
.section-conteudo-saude{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #1a1a1a, #2d2d2d);
}

.section-conteudo-saude .imagem-lateral {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.section-conteudo-saude .imagem-lateral img {
  width: 50%; 
  height: auto; 
  object-fit: contain; 
  border-radius: 10px;
}

.section-conteudo-saude .texto-biografia{
  width: 60%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;
  border-radius: 0 10px 10px 0;
  overflow-y: auto;
}

.section-conteudo-saude .texto-biografia {
  background-color: #28a745; 
  color: #fff;
}

.section-conteudo-saude .texto-biografia h1{
  font-size: 32px;
  margin-bottom: 20px;
}

.section-conteudo-saude .texto-biografia p{
  font-size: 17px;
  line-height: 1.6;
}

.section-conteudo-saude .texto-biografia button {
  width: 30%;
  margin-top: 40px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.section-conteudo-saude .texto-biografia button:hover {
  background-color: darkred;
  transform: scale(1.03);
}


@media (max-width: 768px) {
  .section-conteudo-saude, .section-conteudo-paz {
    flex-direction: column;
  }

  .imagem-lateral, .texto-biografia {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .imagem-lateral img {
    border-radius: 10px 10px 0 0;
  }

  .texto-biografia {
    padding: 20px;
    border-radius: 0 0 10px 10px;
  }
}

/*********************************** SOBRE MIM *********************/

.biografia-estilizada {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 40px;
  background: linear-gradient(135deg, #1a1a1a, #2d2d2d);
  border-radius: 8px;
  flex-wrap: wrap;
  text-align: center;
}

.biografia-estilizada .coluna {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  max-width: 400px;
}

.texto-esquerda{
    margin: 10px auto;
    width: 75%;
    height: auto;
    text-align: center;
}

.texto-direita{
  margin: 10px auto;
  width: 75%;
  height: auto;
  text-align: center;
}

.texto-esquerda h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.texto-esquerda p,
.texto-direita p {
  color: white;
  font-size: 16px;
  line-height: 1.6;
}

.imagem-central{
  transition: all 0.3s ease;
}

.imagem-central a img {
  width: 500px;
  height: 300px;
}

.imagem-central a{
  width: 500px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.imagem-central:hover {
  cursor: pointer;
  transform: scale(1.10);
}

@media (max-width: 960px) {
  .biografia-estilizada {
    flex-direction: column;
    gap: 30px;
  }

  .coluna {
    max-width: 90%;
  }

  .imagem-central img {
    margin: 0 auto;
  }
}




.footer{
  width: 100%;
  height: 450px;
}



/* Responsivo */
@media (max-width: 600px) {
  header h1 {
    font-size: 1.5rem;
  }

  .hero h2 {
    font-size: 1.4rem;
  }

  .obras ul {
    padding-left: 0;
  }
}